[Desktop Entry]
Version=0.4
Type=Application
Name=aafm
GenericName=aafm
Comment=A file manager for Android devices, using the official SDK's ADB utility.
Comment[fi]=Tiedostonhallinta ohjelma android laitteille virallisen SDK:n ADB ohjelman avulla.
Comment[es]=Un gestor de ficheros para dispositivos Android, usando la utilidad ADB del SDK oficial.
Exec=aafm
Icon=aafm
Categories=GTK;Utility
